extends includes/template
blocks body
    .intro
        h1.text-left
            | 筑波生活助手
            small Tsukuba Helper
        p.lead 筑波生活助手旨在为筑波大学的留学生提供便民信息，例如垃圾回收日，附近商家打折信息等等
        u
            | 注意：
            b 目前网站仍然处于早期开发阶段,
            | 登载信息可能有误，请谨慎使用！
        p
    .construction-warning
        h2 本页面将会按照时间和地点校内公交时刻表以及最近一班公交的到达时间，目前正在建设中！
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/javascripts/bootstrap.min.js')
