extends includes/template
block body
    .construction-warning
        h2 本页面将会显示周边商家的相关折扣信息，目前正在建设中！
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/javascripts/bootstrap.min.js')
