extends includes/template.pug
block body
	.intro
		h1.text-left 筑波生活助手
			small Tsukuba Helper
		p.lead 筑波生活助手旨在为筑波大学的留学生提供便民信息，例如垃圾回收日，附近商家打折信息等等
			br
			h5
				| 注意：
				b 目前网站处于早期开发阶段，
				| 登载信息可能有误，请谨慎使用！

	.main-function
		br
		br
		br
		h4 常见功能一览
		a(href="trashcheck")
			button
				img(src="/images/recycle_icon.png")
		a(href="txtimetable")
			button
				img(src="/images/subway.png")
		a(href="bustimetable")
			button
				img(src="/images/bus.png")
		a(href="discount")
			button
				img(src="/images/store.png")
	// jQuery (necessary for Bootstrap's JavaScript plugins)
	script(src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js")
	//Include all compiled plugins or include individual files as needed
	script(src="/javascripts/bootstrap.min.js")