<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Tsukuba Helper</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/theme.css" tpye="text/css" rel="stylesheet>"


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">TsukuHelper</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">简介</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">常用功能
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">垃圾回收日查询</a></li>
              <li><a href="#">Tsukuba Express时刻表</a></li>
              <li><a href="#">筑波大学校内巴士时刻表</a></li>
              <li><a href="#">附件商家位置查询</a></li>
            </ul>
        </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">留言板</a></li>
            <li><a href="#">关于本站</a></li>
          </ul>
      </div>

    </nav>
    </nav>
    <div class="intro">
      <h1 class="text-left">筑波生活助手 <small>Tsukuba Helper</small></h1>
      <p class="lead">筑波生活助手旨在为筑波大学的留学生提供便民信息，例如垃圾回收日，附近商家打折信息等等</p>
      <u>注意：<b>目前网站仍然处于早期开发阶段,</b>登载信息可能有误，请谨慎使用！</u>
    </p>
    </div>
    <div class="main-function">
      <h3>常见功能一览</h3>
      <button>
        <img src="images/recycle_icon.png" />
      </button>
      <button>
        <img src="images/subway.png" />
      </button>
      <button>
        <img src="images/bus.png" />
      </button>
      <button>
        <img src="images/store.png" />
      </button>
      <a href>垃圾回收日查询</a><br>
      <a href>Tsukuba Express时刻表</a><br>
      <a href>筑波大学校内巴士时刻表</a><br>
      <a href>附件商家位置查询<a><br>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
