extends includes/template
blocks body
    .row
        .col-sm-6
            #tb-testimonial.testimonial.testimonial-default-filled
                .testimonial-section
                    | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                .testimonial-desc
                    img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                    .testimonial-writer
                        .testimonial-writer-name Zahed Kamal
                        .testimonial-writer-designation Front End Developer
                        a.testimonial-writer-company(href='#') Touch Base Inc
        .col-sm-6
            #tb-testimonial.testimonial.testimonial-primary-filled
                .testimonial-section
                    | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                .testimonial-desc
                    img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                    .testimonial-writer
                        .testimonial-writer-name Zahed Kamal
                        .testimonial-writer-designation Front End Developer
                        a.testimonial-writer-company(href='#') Touch Base Inc
        .col-sm-6
            #tb-testimonial.testimonial.testimonial-info-filled
                .testimonial-section
                    | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                .testimonial-desc
                    img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                    .testimonial-writer
                        .testimonial-writer-name Zahed Kamal
                        .testimonial-writer-designation Front End Developer
                        a.testimonial-writer-company(href='#') Touch Base Inc
        .col-sm-6
            #tb-testimonial.testimonial.testimonial-success-filled
                .testimonial-section
                    | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                .testimonial-desc
                    img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                    .testimonial-writer
                        .testimonial-writer-name Zahed Kamal
                        .testimonial-writer-designation Front End Developer
                        a.testimonial-writer-company(href='#') Touch Base Inc
        .col-sm-6
            #tb-testimonial.testimonial.testimonial-warning-filled
                .testimonial-section
                    | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                .testimonial-desc
                    img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                    .testimonial-writer
                        .testimonial-writer-name Zahed Kamal
                        .testimonial-writer-designation Front End Developer
                        a.testimonial-writer-company(href='#') Touch Base Inc
        .col-sm-6
            #tb-testimonial.testimonial.testimonial-danger-filled
                .testimonial-section
                    | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                .testimonial-desc
                    img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                    .testimonial-writer
                        .testimonial-writer-name Zahed Kamal
                        .testimonial-writer-designation Front End Developer
                        a.testimonial-writer-company(href='#') Touch Base Inc
    #message-input.col-lg-3
        #personalinfo
            h4 name:
            input(name='name')
            h4 E-mail:
            input(name='E-mail')
        #message
            #edit-tool
            #content
                input#message-content.text-success(type='text')
        #submit
            button(name='Submit')
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/javascripts/bootstrap.min.js')
