extends includes/template
block customized-stylesheets
    link(href="/stylesheets/messageboard.css", type="text/css", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="/stylesheets/commentsection.css", rel="stylesheet")
block body
    .row
        .col-sm-6
            #tb-testimonial.testimonial.testimonial-default-filled
                .testimonial-section
                    | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                .testimonial-desc
                    img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                    .testimonial-writer
                        .testimonial-writer-name Zahed Kamal
                        .testimonial-writer-designation Front End Developer
                        a.testimonial-writer-company(href='#') Touch Base Inc
        .col-sm-6
            #tb-testimonial.testimonial.testimonial-primary-filled
                .testimonial-section
                    | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                .testimonial-desc
                    img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                    .testimonial-writer
                        .testimonial-writer-name Zahed Kamal
                        .testimonial-writer-designation Front End Developer
                        a.testimonial-writer-company(href='#') Touch Base Inc
        .col-sm-6
            #tb-testimonial.testimonial.testimonial-info-filled
                .testimonial-section
                    | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                .testimonial-desc
                    img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                    .testimonial-writer
                        .testimonial-writer-name Zahed Kamal
                        .testimonial-writer-designation Front End Developer
                        a.testimonial-writer-company(href='#') Touch Base Inc
        .col-sm-6
            #tb-testimonial.testimonial.testimonial-success-filled
                .testimonial-section
                    | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                .testimonial-desc
                    img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                    .testimonial-writer
                        .testimonial-writer-name Zahed Kamal
                        .testimonial-writer-designation Front End Developer
                        a.testimonial-writer-company(href='#') Touch Base Inc
        .col-sm-6
            #tb-testimonial.testimonial.testimonial-warning-filled
                .testimonial-section
                    | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                .testimonial-desc
                    img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                    .testimonial-writer
                        .testimonial-writer-name Zahed Kamal
                        .testimonial-writer-designation Front End Developer
                        a.testimonial-writer-company(href='#') Touch Base Inc
        .col-sm-6
            #tb-testimonial.testimonial.testimonial-danger-filled
                .testimonial-section
                    | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                .testimonial-desc
                    img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                    .testimonial-writer
                        .testimonial-writer-name Zahed Kamal
                        .testimonial-writer-designation Front End Developer
                        a.testimonial-writer-company(href='#') Touch Base Inc

    #message-input.col-lg-3
        #user-info
            span#user-fa
                i.fa.fa-user
            span(href="#")#user-name
                | 用户名
        .message-section
            .tool-box
                a(href="#")
                    i.fa.fa-camera
                a(href="#")
                    i.fa.fa-pencil
                a(href="#")
                    i.fa.fa-map
                a(href="#")
                    i.fa.fa-paste
            .input-section
                input#message-content(type="text")
                button#message-submit(onclick="sendMessage()") 发表


    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/javascripts/bootstrap.min.js')
