doctype html
html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
        title Tsukuba Helper
        // Bootstrap
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/theme.css', type='text/css', rel='stylesheet>')
        link(href='/stylesheets/messageboard.css', type='text/css', rel='stylesheet')
        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
            script(src='https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js')
            script(src='https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js')
    body
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    a.navbar-brand(href='../index.html') TsukuHelper
                ul.nav.navbar-nav
                    li.active
                        a(href='#') 简介
                    li.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                            | 常用功能
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='trashcheck.html') 垃圾回收日查询
                            li
                                a(href='txtimetable.html') Tsukuba Express时刻表
                            li
                                a(href='bustimetable.html') 筑波大学校内巴士时刻表
                            li
                                a(href='discount.html') 附件商家位置查询
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#') 留言板
                    li
                        a(href='#') 关于本站
        .row
            .col-sm-6
                #tb-testimonial.testimonial.testimonial-default-filled
                    .testimonial-section
                        | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                    .testimonial-desc
                        img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                        .testimonial-writer
                            .testimonial-writer-name Zahed Kamal
                            .testimonial-writer-designation Front End Developer
                            a.testimonial-writer-company(href='#') Touch Base Inc
            .col-sm-6
                #tb-testimonial.testimonial.testimonial-primary-filled
                    .testimonial-section
                        | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                    .testimonial-desc
                        img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                        .testimonial-writer
                            .testimonial-writer-name Zahed Kamal
                            .testimonial-writer-designation Front End Developer
                            a.testimonial-writer-company(href='#') Touch Base Inc
            .col-sm-6
                #tb-testimonial.testimonial.testimonial-info-filled
                    .testimonial-section
                        | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                    .testimonial-desc
                        img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                        .testimonial-writer
                            .testimonial-writer-name Zahed Kamal
                            .testimonial-writer-designation Front End Developer
                            a.testimonial-writer-company(href='#') Touch Base Inc
            .col-sm-6
                #tb-testimonial.testimonial.testimonial-success-filled
                    .testimonial-section
                        | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                    .testimonial-desc
                        img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                        .testimonial-writer
                            .testimonial-writer-name Zahed Kamal
                            .testimonial-writer-designation Front End Developer
                            a.testimonial-writer-company(href='#') Touch Base Inc
            .col-sm-6
                #tb-testimonial.testimonial.testimonial-warning-filled
                    .testimonial-section
                        | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                    .testimonial-desc
                        img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                        .testimonial-writer
                            .testimonial-writer-name Zahed Kamal
                            .testimonial-writer-designation Front End Developer
                            a.testimonial-writer-company(href='#') Touch Base Inc
            .col-sm-6
                #tb-testimonial.testimonial.testimonial-danger-filled
                    .testimonial-section
                        | Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.
                    .testimonial-desc
                        img(src='https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100', alt='')
                        .testimonial-writer
                            .testimonial-writer-name Zahed Kamal
                            .testimonial-writer-designation Front End Developer
                            a.testimonial-writer-company(href='#') Touch Base Inc
        #message-input.col-lg-3
            #personalinfo
                h4 name:
                input(name='name')
                h4 E-mail:
                input(name='E-mail')
            #message
                #edit-tool
                #content
                    input#message-content.text-success(type='text')
            #submit
                button(name='Submit')
        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
        // Include all compiled plugins (below), or include individual files as needed
        script(src='/javascripts/bootstrap.min.js')
